@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("admin") || User.IsInRole("superadmin"))
    {
        <h1 class="display-5">Panel Administrador</h1>
    }
    else if (User.IsInRole("empleado"))
    {
        <h1 class="display-5">Panel  Empleado</h1>
    }
    else{
        <h1 class="display-5">Usuario pendiente de autorización</h1>
    }
    <hr />

    @if (User.IsInRole("admin") || User.IsInRole("superadmin") || User.IsInRole("empleado"))
    {
        <div class="container text-center mb-3">
            <div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-2">
                <div class="col">
                    <div class="p-3 border bg-success rounded">
                        <a asp-area="" asp-controller="product" asp-action="index" class="btn text-light fs-5">Productos</a>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-primary rounded">
                        <a asp-area="" asp-controller="maker" asp-action="index" class="btn text-light fs-5">Fabricantes</a>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-warning rounded">
                        <a asp-area="" asp-controller="order" asp-action="index" class="btn text-light fs-5">Pedidos</a>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-danger rounded">
                        <a asp-area="" asp-controller="cliente" asp-action="index" class="btn text-light fs-5">Clientes</a>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-primary rounded">
                        <a asp-area="" asp-controller="producttype" asp-action="index" class="btn text-light fs-5">Tipos de porducto a la venta</a>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-success rounded">
                        <a asp-area="" asp-controller="employee" asp-action="index" class="btn text-light fs-5">Panel Empleados</a>
                    </div>
                </div>
                @if (User.IsInRole("superadmin"))
                {
                    <div class="col">
                        <div class="p-3 border bg-warning rounded">
                            <a asp-area="" asp-controller="user" asp-action="index" class="btn text-light fs-5">Panel Usuario</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {

        <p>Todavía no has sido aprobado por el usuario administrador, reintenta más tarde</p>
        <a asp-area="" asp-controller="access" asp-action="logout" class="btn btn-primary">Cerrar sesión</a>
    }

}
else
{
    <div class="align-content-center">
        <div>
            <p>Debes iniciar sesión para continuar</p>
        </div>
        <div class="mb-3">
            <a class="btn btn-success" asp-area="" asp-controller="access" asp-action="index">Iniciar Sesión</a>
        </div>
    </div>

}

