@model AlmacenTecnologico.Models.Persona
@{
    ViewData["Title"] = "Agregar Empleados";
}
<div class="align-content-center">

    <div class="mb-3">
        <h1 class="display-4">Agregar Empleados: </h1>
        <hr />
    </div>
    <form method="post">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Message
            </div>
        }
        <div class="mb-3">
            <label class="form-label">Nombre Empleado: </label>
            <input type="text" class="form-control" asp-for="Nombre" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Apellido Empleado: </label>
            <input type="text" class="form-control" asp-for="Apellido" required>
        </div>
        <div class="mb-3">
            <label class="form-label">DNI Empleado: </label>
            <input type="text" class="form-control" asp-for="Dni" min="1" maxlength="8" required>
        </div>
        <div class="mb-3">
            <div class="mb-2">
                <input type="submit" value="Guardar" class="btn btn-success form-control" />
            </div>
            <div class="mb-2">
                <a class="btn btn-warning form-control" asp-area="" asp-controller="employee" asp-action="index"> Volver al dashboard</a>
            </div>
        </div>
    </form>

</div>