@using Microsoft.AspNetCore.Identity
@model List<AlmacenTecnologico.Models.ViewModel.TipoProductoViewModel>
@{
    ViewData["Title"] = "Panel Tipo Productos";
}
<div class="text-center">
    <h1 class="display-4">Tipo de Productos Eliminados en el sistema</h1>
    <hr />
</div>
<div class="mb-3">
    @if (Model is not null && Model.Count > 0)
    {
        <form method="post">
            <table class="table table-striped table-hover">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Nombre Categoria</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nombre</td>
                        <td>@item.NombreCategoria</td>
                        <td>
                            @if (User.IsInRole("admin") || User.IsInRole("superadmin"))
                            {
                                <input class="btn btn-success" type="submit" value="Recuperar" asp-area="" asp-controller="producttype" asp-action="recover" asp-route-id="@item.Id" />
                            }
                        </td>
                    </tr>
                }
            </table>
        </form>
    }
    else
    {
        <div class="text-center">
            <p>No hay Tipos de productos eliminadosen el sistema en el sistema :(</p>
        </div>
        <div>
            <a class="btn btn-success" asp-area="" asp-controller="producttype" asp-action="index">Volver al incio</a>
        </div>
    }

</div>